.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.btn {
  font-weight: 600;
  font-size: 0.694em;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  padding: 11px 15px;
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #000;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  @media screen and (min-width: 768px) {
    font-size: 0.833em;
    padding: 15px;
    min-width: 128px;
  }
  cursor: pointer;
  &.btn-primary {
      background: #000;
      color: $white-color;
      &:hover {
        background-color: $white-color;
        color: #000;
        border-color: #ADADAD; 
      }
  }
}
