.clearfix {
  @include clearfix;
}

.visually-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown;
  }
}

.visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}
.stock-error {
  color: red;
  font-size: 0.8em;
}
// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

// Skip to content button
// Overrides .visually-hidden when focused
.skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  padding: $grid-gutter / 2;
  background-color: $color-body;
  color: $color-body-text;
  transition: none;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

#wrapper {
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    padding: 0 30px;
  }
  &:after {
      content: '';
      display: block;
      clear: both;
  }
}

.row {
  margin: 0 -20px;
  @media screen and (min-width: 1200px) {
    margin: 0 -30px;
  }
  &:after {
      content: '';
      display: block;
      clear: both;
  }
}

