
.banner {
    //background: url('hero-image.jpg') 50% 50%;
    background-size: cover;
    height: 466px;
    position: relative;
    color: $white-color;
    @include media-query($medium-up) {
        height: 660px;
    }
    .container {
        height: 100%;
    }
    h1 {
        font-size: 1.728em;
        font-weight: 700;
        margin-bottom: 10px;
        @include media-query($medium-up) {
            font-size: 3.583em;
            margin-bottom: 13px;
        }
    }
    .btn {
        font-weight: 900;
        @include media-query($medium-up) {
            min-width: 180px;
            margin-bottom: 13px;
        }
    }
    &__holder {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    &__caption {
        display: flex;
        align-items: flex-end;
        justify-content: left;
        height: 100%;
        padding: 29px 0;
        line-height: 1.5;
        @include media-query($medium-up) {
            align-items: center;
        }
    }
    &__caption-holder {
        max-width: 400px;
        @include media-query($medium-up) {
            max-width: 687px;
        }
    }
    &__description {
        font-size: 1em;
        display: block;
        margin-bottom: 21px;
        word-spacing: 1px;
        @include media-query($medium-up) {
            font-size: 1.462em;
            margin-bottom: 40px;
        }
    }
}