#footer {
    padding: 15px 0;
    color: $white-color;
    font-size: 0.694em;
    background: $dark-bg-color;
    text-align: center;
    @include media-query($medium-up) {
        text-align: left;
        padding: 17px 0;
    }
    .copyright {
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}