/**
 * Sections: Site header
 * -----------------------------------------------------------------------------
 * Base styling for the site header
 *
 */
.site-header {
  align-items: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  h1 {
    margin: 0;
  }

  &__cart {
    color: $color-body-text;
    text-decoration: none;
  }
}

#header {
  position: relative;
  background: #fff;
}
.top-bar {
  padding: 8px 0;
  text-align: center;
  font-size: 0.831em;
  display: none;
  p {
      margin: 0;
  }
  @media screen and (min-width: 768px) {
      display: block;
  }
}

.header-holder {
  position: relative;
  padding: 15px 0 12px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  > .container {
      max-width: 1600px;
      display: flex;
      align-items: center;
      @media screen and (min-width: 1201px) {
        padding: 0 50px;
    }
  }
}
.mobile-nav {
  float: left;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: left;
  @media screen and (min-width: 768px) {
      display: none;
  }
  .opener {
    display: inline-block;
    vertical-align: middle;
		height: 30px;
		position: relative;
    width: 44px;
    margin: -2px 0 0 -11px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &:before, &:after, span {
		background: #000;
		border-radius: 4px;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 3px;
		margin-top: -2px;
		-moz-transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
	&:hover {
		opacity: 0.7;
  }
  &:before, &:after {
		content: '';
		top: 30%;
	}
	&:after {
		top: 70%;
  }
}
	&.active .opener span {
		opacity: 0;
	}
	&.active .opener:after, &.active .opener:before {
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		top: 50%;
		left: 25%;
		right: 25%;
	}
	&.active .opener:after {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.drop {
		max-height: 0;
		-webkit-transition: all 0.25s linear;
		transition: all 0.25s linear;
		position: absolute;
		left: -15px;
		right: -15px;
		top: 100%;
		overflow: hidden;
		z-index: 999;
		padding: 0;
		margin: 0 -15px;
    .slide {
      background: #231f20;
      overflow: hidden;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
      padding: 10px;
      text-align: center;
    }
}
	&.active .drop {
		max-height: 4000px;
	}
	&.active .drop .slide {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
  > ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background:  #F6F6F6;
      padding: 25px 0;
      font-weight: 700;
      z-index: 9999;
      height: calc(100vh - 55px);
      overflow: auto;
      li {
          position: relative;
          a {
            display: block;
            padding: 10px 20px;
            position: relative;
          }
          &.has-dropdown {
            > a {
                &:after {
                  content: "";
                  background: url("https://cdn.shopify.com/s/files/1/0128/9705/8874/t/39/assets/plus.png?7411")  50% 50% no-repeat;
                  position: absolute;
                  top: 12px;
                  right: 20px;
                  height: 14px;
                  width: 14px;
                -moz-transition: all 0.25s linear;
                -webkit-transition: all 0.25s linear;
                -o-transition: all 0.25s linear;
                transition: all 0.25s linear;         
                }
                
            }
            &.active {
             > a {
                &:after {
                  background-image: url("https://cdn.shopify.com/s/files/1/0128/9705/8874/t/39/assets/minus.png?7414");
                }
              }
            }
          }
      }
      ul {
          padding: 0 15px;
          font-size: 1em;
          font-weight: 400;
      }
  }
  .search-btn {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 15px;
  }
  ul {
      display: none;
  }
}
#nav {
  float: left;
  width: 40%;
  font-weight: 600;
  font-size: 0.694em;
  display: none;
  align-items: center;
  justify-content: left;
  @media screen and (min-width: 768px) {
      display: flex;
  }
  > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
          display: inline-block;
          vertical-align: top;
          margin: 0 12px;
        > a {
            position: relative;
            padding: 30px 5px;
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            -moz-transition: all 0.25s linear;
            -webkit-transition: all 0.25s linear;
            -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                bottom: 0;
                height: 4px;
                background: #000;
                -moz-transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
            }
        }
          &:hover, &.active {
              a {
                &:after {
                    width: 100%;
                }
              }
            .mege-nav {
                z-index: 9999;
                max-height: 4000px;
                opacity: 1;
                // -webkit-transform: translateY(0);
                // -ms-transform: translateY(0);
                // -o-transform: translateY(0);
                // transform: translateY(0);
            }
          }
      }
  }
  .mege-nav {
      position: absolute;
      max-height: 0;
      left: 0;
      right: 0;
      top: 100%;
      background: #F6F6F6;
      padding: 50px 0;
       z-index: -1;
       -moz-transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0;
		// -webkit-transform: translateY(-100%);
		// -ms-transform: translateY(-100%);
		// -o-transform: translateY(-100%);
		// transform: translateY(-100%);
      .col-nav {
          float: left;
          width: 25%;
          padding: 0 15px;
          position: relative;
          ul {
              li {
                  display: block;
                  margin: 0 0 15px;
                  padding: 0;
              }
          }
          img {
              display: block;
              width: 100%;
              height: auto;
          }
          .btn-primary {
              position: absolute;
              top: calc(50% - 23px);
              left: calc(50% - 60px);
          }
      }
  }
}


.right-panel {
  float: right;
  width: 40%;
  text-align: right;
}
.logo {
  margin: 0 auto;
  text-align: center;
}
.right-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  li {
      &.search {
          display: none;
          @media screen and (min-width: 768px) {
              display: inline-block;
          }
      }
      a {
        &:hover {
          opacity: 0.8;
        }
      }
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 20px;
  }
}