<section  data-section-id="{{ section.id }}" data-section-type="footer">

  <footer id="footer">
    <div class="container">
      <span class="copyright">&copy; We Make Websites</span>
    </div>
  </footer>

</section>

{% schema %}
{  
   "name":"Footer",
   "settings":[  

   ]
}
{% endschema %}
